.two-columns__brief {
    width: 175px;
    display: flex;
    align-items: flex-start;
    color: #2f80ed;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
    padding: 0;
}