.header__title {
    max-width: 730px;
    align-self: center;
    padding: 0 0 0 64px;
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 102px;
    line-height: 96px;
    z-index: 2;
}